
@{
    ViewData["Title"] = "NotFound";
}

<h1>NotFound</h1>
<h3>Some thing went wrong we couldnt get what you were looking for please can you try again</h3>

<h4>@ViewBag.Message</h4>

<p class="tab-content"><strong>If this persist Contact Support Thank you</strong></p>

